#sortnumber{
    margin-top: 20px;
    line-height: 80px;
    font-weight: 600;
    text-align: center;
    width: 100px;
    height: 80px;
    font-size: 20px;
    background: burlywood;
}
#HelloMember{
    margin-top: 20px;
}
#bai2{
    margin-top: 50px;
}
body{
    background: black;
}
*{
    padding: 0px;
    margin: 0px;
}
h1{
    color: chartreuse;
}
#txt-Hello{
    margin-top: 20px;
    background: sandybrown;
    height: 70px;
    width: 150px;
    text-align: center;
    line-height: 70px;
    font-weight: 600;
}
#result_chanle{
    margin-top: 20px;
    background: sandybrown;
    height: 70px;
    width: 150px;
    text-align: center;
    font-weight: 600;
}
#ketquatamgiac{
    margin-top: 20px;
    background: sandybrown;
    height: 50px;
    width: 150px;
    line-height: 50px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 80px;
}